node_modules
packages/autoupdate/
packages/meteor-streams/
packages/meteor-timesync/
packages/tagt-emoji-emojione/generateEmojiIndex.js
packages/tagt-favico/favico.js
packages/tagt-katex/client/katex/katex.min.js
packages/tagt-livechat/app/node_modules
packages/tagt-livechat/public/external.js
packages/tagt-livechat/public/livechat.js
packages/tagt-migrations/
packages/tagt-theme/client/minicolors/jquery.minicolors.js
packages/tagt-ui/lib/clipboardjs/clipboard.js
packages/tagt-ui/lib/customEventPolyfill.js
packages/tagt-ui/lib/jquery.swipebox.min.js
packages/tagt-ui/lib/Modernizr.js
packages/tagt-ui/lib/recorderjs/recorder.js
packages/tagt-ui/lib/textarea-autogrow.js
packages/tagt-videobridge/client/public/external_api.js
private/moment-locales/
public/recorderWorker.js
